<div><h1>Transactions</h1></div>

<div>
  <table>
    <thead>
      <tr>
        <th>Code</th>
        <th>Transaction</th>
        <th>Client</th>
        <th>Manager</th>
      </tr>
    </thead>

    <tbody>
      <% @transactions.each do |transaction| %>
        <tr>
          <td>
            <%= shorten_uid(transaction.uid) %>
          </td>
          <td>
            <%= transaction_amount(transaction.from_amount, transaction.from_currency)%>
            ->
            <%= transaction_amount(transaction.to_amount, transaction.to_currency)%>
          </td>
          <td>
            <%= transaction.client_full_name %>
          </td>
          <td>
            <% if transaction.manager %>
              <%= transaction.manager.full_name %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>

  <%= render 'size_types_links' %>
</div>
